{% extends 'base/layout.html' %} {% load static %} 
{% block title %} | Datenschutz{% endblock %} 
{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/impressum.css' %}" />
{% endblock %} {% block content %}

<div class="container">
    <div class="impressum">

        
        <h2>
            Datenschutzerklärung für die Website von Julianleonyoga.
        
        </h2>
        <p>
            Stand: 18. August 2025
        
        </p>
        
        <p>
        
            Diese Datenschutzerklärung informiert Sie darüber, wie Julian Sagberger („wir“, „uns“, „unser“) personenbezogene Daten erhebt, verwendet und schützt, wenn Sie unsere Website unter https://julianleonyoga.com besuchen und nutzen. Wir nehmen den Schutz Ihrer persönlichen Informationen sehr ernst und halten uns an geltende Datenschutzgesetze. Diese Datenschutzerklärung erklärt auch Ihre Datenschutzrechte und wie Sie diese ausüben können.
        </p>
        
        <h3>
        
            1. Verantwortliche Stelle
        </h3>
        
        <p>
        
            Verantwortlich für die Verarbeitung Ihrer personenbezogenen Daten auf dieser Website ist:
        </p>
        
         <ul>
              <li>Julian Sagberger</li>
              <li>Am Anger 12</li>
              <li>4950 Altheim</li>
              <li>Österreich</li>
              <li>
                E-Mail:
                <a href="mailto:julian.sagberger@gmail.com"
                  >julian.sagberger@gmail.com</a
                >
              </li>
              <li>Telefon: +436603245206</li>
            </ul>
        
        <h3>
        
            2. Welche Daten wir sammeln
        </h3>
        
        <p>
        
            Wir können folgende Arten von personenbezogenen Daten sammeln, wenn Sie unsere Website besuchen oder mit uns interagieren:
        </p>
        
        <ul class="list-style">
            <li>
                <strong>Kontaktinformationen:</strong> Wenn Sie das Kontaktformular auf unserer Website verwenden, können wir Ihren Namen, Ihre E-Mail-Adresse und andere Informationen, die Sie uns zur Verfügung stellen, sammeln.
            </li>
            <li>
                <strong>Nutzungsdaten:</strong> Wir sammeln Informationen darüber, wie Sie unsere Website nutzen, einschließlich der besuchten Seiten, Verweildauer auf der Website und IP-Adresse.
            </li>
            <li>
                <strong>Cookies und ähnliche Technologien:</strong> Unsere Website verwendet Cookies und ähnliche Tracking-Technologien, um Ihre Präferenzen zu speichern und die Benutzererfahrung zu verbessern. Weitere Informationen finden Sie in unserer Cookie-Richtlinie.
            </li>
        </ul>
        
        <h3>
        
            3. Wie wir Ihre Daten verwenden
        </h3>
        
        <p>
        
            Wir verwenden Ihre personenbezogenen Daten für folgende Zwecke:
        </p>
        
        <ul class="list-style">
            <li>
                Zur Beantwortung Ihrer Anfragen und zur Kommunikation mit Ihnen.
            </li>
            <li>
                Zur Analyse und Verbesserung unserer Website und Dienstleistungen.
            </li>
            <li>
                Zur Verwaltung und Wartung unserer Website und zur Sicherstellung ihrer Sicherheit.
            </li>
            <li>
                Zur Einhaltung rechtlicher Verpflichtungen.
            </li>
        </ul>
        
        <h3>
        
            4. Offenlegung Ihrer Daten
        </h3>
        
        <p>
        
            Wir geben Ihre personenbezogenen Daten nicht ohne Ihre Zustimmung an Dritte weiter, es sei denn, dies ist gesetzlich vorgeschrieben oder erforderlich, um unsere Dienstleistungen zu erbringen.
        </p>
        
        <h3>
        
            5. Cookies und ähnliche Technologien
        </h3>
        
        <p>
        
            Unsere Website verwendet Cookies und ähnliche Tracking-Technologien, um die Benutzererfahrung zu verbessern und Informationen darüber zu sammeln, wie Sie die Website nutzen. Weitere Informationen finden Sie in unserer Cookie-Richtlinie.
        </p>
        
        <h3>
        
            6. Ihre Datenschutzrechte
        </h3>
        
        <p>
        
            Sie haben das Recht auf Zugang, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit und Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten. Wenn Sie eines dieser Rechte ausüben möchten oder Fragen zur Verarbeitung Ihrer Daten haben, kontaktieren Sie uns bitte über die unten angegebenen Kontaktdaten.
        </p>
        
        <h3>
        
            7. Änderungen dieser Datenschutzerklärung
        </h3>
        
        <p>
        
            Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die aktualisierte Datenschutzerklärung wird auf unserer Website veröffentlicht, und das Datum der letzten Aktualisierung wird oben auf der Seite angezeigt.
        </p>
        
        <h3>
        
            8. Eingebettete Inhalte von anderen Webseiten
        </h3>
        
        <p>
        
            Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z. B. Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites verhalten sich exakt so, als ob der Besucher die andere Website besucht hätte.
        </p>
        
        <h3>
        
            9. Kontaktinformationen
        </h3>
        
        <p>
        
            Wenn Sie Fragen zur Verarbeitung Ihrer personenbezogenen Daten oder zu dieser Datenschutzerklärung haben, kontaktieren Sie uns bitte unter:
        </p>
        
        <ul>
              <li>Julian Sagberger</li>
              <li>Am Anger 12</li>
              <li>4950 Altheim</li>
              <li>Österreich</li>
              <li>
                E-Mail:
                <a href="mailto:julian.sagberger@gmail.com"
                  >julian.sagberger@gmail.com</a
                >
              </li>
              <li>Telefon: +436603245206</li>
            </ul>

    </div>    
</div>    

{% endblock %} 